@import "../../assets/AppStyles/variables.scss";

.main-layout-container {
  background-color: $body-bg;

  .main-layout-children {
    margin-top: 60px;

    &.small {
      margin-left: 70px;
    }

    &.large {
      margin-left: 270px;
    }
  }
}
