@import "../../assets/AppStyles/variables.scss";

.contact-list-container {
  .header {
    margin: 0px 10px;
    padding: 20px 0;

    .header-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
      border-radius: 8px;
      padding: 20px 10px;
      .right {
        display: flex;
        align-items: center;

        .search {
          margin-right: 10px;
          position: relative;
          .input-search {
            @include input;
            margin: 0;
            border-radius: 500px;
            padding-top: 24px;
            padding-bottom: 24px;
            min-width: 300px;
            padding-right: 40px;
          }

          .icon-search {
            position: absolute;
            right: 16px;
            font-size: 24px;
            color: $gray-600;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;

            &:hover {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }

  .table {
    margin: 20px 10px;
    padding: 20px 10px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 8px;
    background-color: white;

    .btn-list-action {
      display: flex;
      gap: 8px;
      margin-bottom: 20px;

      .btn {
        @include button-no-color;
        padding: 8px 16px;
        min-width: 100px;

        &.btn-delete-all,
        &.btn-block-all {
          background-color: $error-400;
          color: white;
        }

        &.btn-resolve-all {
          background-color: $primary-normal;
          color: white;
        }
      }
    }

    .ant-table-thead {
      font-size: 16px;
      tr {
        .ant-table-cell {
          background-color: $primary-light-hover;
        }
      }
    }

    .ant-table-tbody {
      font-size: 16px;
      .ant-table-cell {
        .content {
          max-width: 400px;
          display: block;
        }

        .tag {
          padding: 6px 16px;
          border-radius: 500px;

          &.resolved {
            background-color: $success-100;
            color: $success-500;
            display: inline-block;
          }

          &.pending {
            background-color: $warning-100;
            color: $warning-500;
            display: inline-block;
          }
        }
      }
    }

    .action-list {
      display: flex;
      align-items: center;
      gap: 10px;

      .icon {
        font-size: 24px;
        cursor: pointer;
        width: 28px;
        height: 28px;
        padding: 4px;
        border-radius: 2px;
        transition: all 0.25s ease-in-out;

        &.icon-resolve {
          color: $success-400;

          &:hover {
            background-color: $success-100;
          }
        }

        &.icon-view {
          color: $warning-400;

          &:hover {
            background-color: $warning-100;
          }
        }

        &.icon-delete {
          color: $error-600;

          &:hover {
            background-color: $error-200;
          }
        }
      }

      .action-dropdown {
        display: flex;
        align-items: center;

        .dropdown {
          position: absolute;
          bottom: 20px;
          transform: translateY(100%);
          right: 50px;
          background-color: white;
          border: 1px solid $gray-500;
          padding: 10px 0;
          border-radius: 4px;
          box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
          z-index: 100;
          min-width: 200px;

          ul {
            li {
              padding: 4px 20px;
              cursor: pointer;

              &:hover {
                background-color: $gray-100;
              }
            }
          }
        }
      }
    }
  }
}
