@import "../../assets/AppStyles/variables.scss";

.side-bar-container {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 999;
  left: 0;
  background-color: $primary-darker;
  overflow: hidden;

  &.small {
    width: 70px;
    overflow: unset;
  }

  &.large {
    width: 270px;
  }

  .side-bar-content {
    &.small {
      padding: 20px 8px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &.large {
      padding: 30px 30px;
    }

    .logo {
      width: 200px;
    }

    .logo-circle {
      width: 50px;
    }

    .ul-menu {
      display: block;
      margin-top: 40px;

      li {
        list-style: none;
        position: relative;
        margin-bottom: 8px;
        transition: all 0.4s ease-in-out;

        a {
          color: white;
          letter-spacing: 1.1px;
          display: block;
          width: 100%;
          display: flex;
          align-items: center;
          padding: 12px 20px;
          border-radius: 4px;

          &.small {
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            letter-spacing: 1px;
            border-radius: 0;
            transition: all 0.4s ease-in-out;

            .hover-icon {
              background-color: none;
              position: absolute;
              justify-content: flex-start;
              align-items: center;
              right: 0px;
              top: 0;
              z-index: 9999;
              height: 100%;
              transform: translateX(100%);
              padding-right: 16px;
              border-radius: 0 4px 4px 0;
              transition: all 0.4s ease-in-out;
              min-width: 150px;
              display: flex;
              opacity: 0;
              visibility: hidden;
            }

            &:hover .hover-icon {
              display: flex;
              opacity: 1;
              visibility: visible;
              background-color: $primary-normal;
            }
          }

          .icon {
            vertical-align: middle;
            font-size: 20px;

            &.small {
              margin-right: 0px;
              font-size: 30px;
            }

            &.large {
              margin-right: 8px;
            }
          }
        }

        &.active a {
          background-color: $primary-normal;
        }

        &:hover a {
          background-color: $primary-normal;
        }
      }

      li:last-child {
        list-style: none;
        margin-bottom: 0;
      }
    }
  }
}
