@import "../../../assets/AppStyles/variables.scss";

.category-view-container {
  padding: 30px 10px;
  width: 900px;

  .not-found-text {
    text-align: center;
    font-size: 16px;
  }
  .title {
    text-align: center;
  }

  .category-list {
    margin: 20px 0;
    .blog-item {
      border-radius: 16px;
      border: 1px solid $border-color;
      background-color: white;
      padding: 20px 20px;
      margin-bottom: 40px;
      position: relative;

      .status {
        position: absolute;
        left: 40px;
        top: 0px;
        background-color: white;
        min-width: 100px;
        border: 1px solid $border-color;
        border-radius: 500px;
        padding: 4px 12px;
        transform: translateY(-70%);
        text-align: center;
        font-size: 16px;

        &.draft {
          background-color: $warning-400;
          color: white;
        }

        &.published {
          background-color: $primary-normal;
          color: white;
        }

        &.blocked {
          background-color: $error-400;
          color: white;
        }
      }

      .blog-item-content {
        display: flex;
        gap: 20px;

        a {
          img {
            width: 300px;
            height: 300px;
            object-fit: cover;
            border-radius: 10px;
            border: 1px solid $border-color;
            transition: all 0.3s $transition-bezier;
          }

          &:hover img {
            box-shadow: $medium-shadow;
            transform: translate(-4px, -4px);
          }
        }

        .blog-post-info {
          font-size: 16px;
          .title {
            h3 {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              text-overflow: ellipsis;
              transition: 0.6s cubic-bezier(0.25, 0.8, 0.25, 1);
              @include background-hover;
            }

            &:hover h3 {
              @include tag-a-hover;
              color: $primary-normal;
              background-size: 100% $primary-normal;
            }
          }

          .interact {
            display: flex;
            flex-wrap: wrap;
            gap: 16px;
            margin-top: 8px;
            margin-bottom: 10px;

            .interact-item {
              display: flex;
              align-items: center;
              gap: 8px;

              .icon {
                color: $primary-normal;
              }
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 16px;

            .item-tag {
              @include button-black;
              font-size: 14px;
              font-weight: 500;
              background-color: white;
              color: $text-title;
              padding: 8px 16px;
              text-transform: uppercase;

              &:hover {
                @include button-black-hover;
              }

              span {
                font-weight: 600;
              }
            }

            @include tag-number;
          }
        }
      }
    }

    .blog-item-skeleton {
      border-radius: 16px;
      background-color: white;
      padding: 20px 20px;
      margin-bottom: 40px;
      position: relative;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .status {
        position: absolute;
        left: 40px;
        top: 0px;
        min-width: 100px;
        border-radius: 500px;
        transform: translateY(-70%);
        height: 32px;
      }

      .blog-item-content {
        display: flex;
        gap: 20px;

        .img {
          width: 300px;
          height: 300px;
          object-fit: cover;
          border-radius: 10px;
          transition: all 0.3s $transition-bezier;
          width: 30%;
        }

        .blog-post-info {
          width: 70%;
          .title {
            .title-top {
              height: 26px;
              width: 100%;
              border-radius: 4px;
              margin-bottom: 8px;
            }

            .title-bottom {
              height: 26px;
              width: 70%;
              border-radius: 4px;
              margin-bottom: 8px;
            }
          }

          .interact {
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            margin-top: 24px;

            .interact-item {
              display: flex;
              align-items: center;
              gap: 8px;

              .interact-item-left {
                height: 26px;
                width: 40px;
                border-radius: 4px;
                margin-bottom: 8px;
              }

              .interact-item-right {
                height: 26px;
                width: 120px;
                border-radius: 4px;
                margin-bottom: 8px;
              }
            }
          }

          .content {
            margin-top: 16px;
            .content-top {
              height: 20px;
              width: 100%;
              border-radius: 4px;
              margin-bottom: 8px;
            }
            .content-middle {
              height: 20px;
              width: 100%;
              border-radius: 4px;
              margin-bottom: 8px;
            }
            .content-bottom {
              height: 20px;
              width: 70%;
              border-radius: 4px;
              margin-bottom: 8px;
            }
          }

          .tags {
            display: flex;
            flex-wrap: wrap;
            gap: 10px;
            margin-top: 24px;

            .item-tag {
              height: 30px;
              width: 100px;
              border-radius: 500px;
              margin-bottom: 8px;
            }
          }
        }
      }
    }
  }
}
